
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="~/scripts/User/user.js"></script>
}

<div class="form-horizontal">
    <div class="jumbotron">
        <div class="row text-center">
            <h2>Administrar de usuarios</h2>
        </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-4">
                <div data-bind="if: User">
                    <div>
                        <h2>Actualizar Usuario</h2>
                    </div>
                    <div>
                        <label for="productId" data-bind="visible: false">ID</label>
                        <label data-bind="text: User().Id, visible: false"></label>

                    </div>
                    <div>
                        <label for="nombre">Nombre</label>
                        <input data-bind="value: User().Nombre" type="text" title="Nombre" class="form-control" />
                    </div>

                    <div>
                        <label for="apellido">Apellido</label>
                        <input data-bind="value: User().Apellido" type="text" title="Apellido" class="form-control" />
                    </div>


                    <br />
                    <div>
                        <button data-bind="click: $root.update" class="btn btn-info">
                            Update
                        </button>
                        <button data-bind="click: $root.cancel" class="btn btn-info">Cancel</button>

                    </div>
                </div>



                <div data-bind="ifnot: User()">
                    <div>
                        <h2>Alta Usuario</h2>
                    </div>
                    <div>
                        <label for="nombre">Nombre</label>
                        <input data-bind="value: $root.Nombre" type="text" title="Nombre" class="form-control" />
                    </div>

                    <div>
                        <label for="apellido">Apellido</label>
                        <input data-bind="value: $root.Apellido" type="text" title="Apellido" class="form-control" />
                    </div>

                    <br />
                    <div>
                        <button data-bind="click: $root.create" class="btn btn-info">Save</button>
                        <button data-bind="click: $root.reset" class="btn btn-info">Reset</button>

                    </div>
                </div>

            </div>

            <div class="col-md-8">





                <div class="row">



                    <p>
                        <label for="filter">Filter:</label> <input type="text" required id="filterD" class="form-control" data-bind="value:filter,valueUpdate: 'keyup'" />
                    </p>
                    <table id="usuario" class="table">
                        <thead>
                            <tr>
                                <th style="display: none;">ID</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: filteredUsers">

                            <tr>
                                <td data-bind="visible:false , text: Id "></td>
                                <td data-bind="text: Nombre"></td>
                                <td data-bind="text: Apellido"></td>


                                <td>
                                    <button data-bind="click: $root.edit" class="btn btn-info">
                                        <span class="glyphicon glyphicon-pencil"></span> Edit
                                    </button>
                                    <button data-bind="click: $root.delete" class="btn btn-info">
                                        <span class="glyphicon glyphicon-trash"></span>Delete
                                    </button>
                                </td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>