
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2></h2>


<div class="jumbotron">
    <h1>HOLA</h1>
    <p class="lead">Ejercicio solicitado como examen, utilizando MVC con Knockout Js y Entity Framework</p>
</div>
